.mad-libs {
    background: rgba(207, 207, 207, 0.06);
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
    border-radius: 7px;
    background-color: white;

.card__inputs {
    height: 100%;

    .user-inputs {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 50px;

        .btn-wrapper {
            display: grid;
        }

        .inputs-wrapper {
            background-color: lightblue;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            height: 100%;

                .input {
                    &__title {

                    }

                    &__number { // The & represents .input, and then I add __number to get the full class

                    }
                }
            }
        }
    }
}