@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

& {
    margin: 0;

    .mad-libs {
        background: rgba(207, 207, 207, 0.06);
        height: 99vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        
        .header {
            margin-bottom: 2vh;
            margin-top: 2vh;

            &__skew {
                transform: skewY(-8deg) translateY(-25em);
                background-color: #444444;
                height: 50em;
                width: 100vw;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -10;
                border-bottom: 20px solid #00CB79;
            }

            text-align: center;
            color: white;
            font-family: 'Montserrat', sans-serif;

            h1 {
                font-size: 36px;
                line-height: 44px;
                font-weight: 500;
            }

            p {
                color: rgba(255, 255, 255, .7);
                font-size: 15px;
                font-weight: 300;
                line-height: 18px;
                width: 403px;
            }
        }
        
        .card {
            height: 1500px;
            width: 70vw;
            box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
            border-radius: 7px;
            background-color: white;

            &__generate {
                background-color: #00CB79;
            }

            &__clear {
                background-color: #45B0E5;
            }

            &__btn {
                border: none;
                cursor: pointer;
                color: white;
                font-family: 'Montserrat';
                font-size: 22px;
                text-align: center;
                height: 50px;
                width: 300px;
                border-radius: 4px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
                outline: none;
                justify-self: center;
                z-index: 1;
            }

            &__content {
                width: 100%;
                height: 297px;
                display: flex;
                justify-content: center;
                margin-bottom: 84px;

                &__text {
                    background-color: #F2F2F2;
                    width: 85%;
                    font-family: 'Montserrat';
                    font-size: 25px;
                    font-weight: 300;
                    margin: 0;
                    transform: translateY(-25px);
                    padding: 50px;
                    height: 60%;
                    line-height: 40px;

                    .madlib-text {
                        .index {
                            background-color: black;
                            color: white;
                            border-radius: 50%;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        
        .card__inputs {
            height: 100%;
        
            .user-inputs {
                height: 100%;
                display: grid;
                grid-template-rows: 1fr 50px;
        
                .btn-wrapper {
                    display: grid;
                }
        

                .inputs-wrapper {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    height: 100%;
                    justify-items: center;
                    align-items: center;
        
                        .input {
                            display: grid;
                            grid-template-columns: 50px 1fr;
                            font-family: 'Montserrat', sans-serif;
                            text-align: center;
                            align-content: center;
                            grid-column-gap: 15px;
                            margin: 4px 0;

                            width: 60%;
                            height: 60%;
        
                            &__title {
                                grid-column: 2/3;
                                border-top: 1px solid #b3b3b3;
                                color: #b3b3b3;
                                font-size: 18px;
                                font-weight: 300;
                                transition: all .3s ease-in-out;
                            }

                            &:has(input:focus) .input__title {
                                border-top-color: rgb(0, 255, 247);
                            }
        
                            input {
                                grid-column: 2/3;

                                border: none;
                                outline: none;
                                font-size: 18px;
                                text-align: center;
                                font-family: 'Montserrat', sans-serif;
                            }
        
                            &__number { // The & represents .input, and then I add __number to get the full class
                                grid-column: 1/2;
                                background-color: #b3b3b3;
                                color: white;
                                font-size: 30px;
                                width: .8em;
                                height: .8em;
                                padding: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;

                                &:is(.active) {
                                    background-color: #00CB79;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}