* {
    font-family: sans-serif;
}

.homepage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 100px;
}

body:has(.mad-libs) {
    @import "./pages/mad-libs/main.scss";
}

body:has(.typescript) {
    @import "./pages/typescript/main.scss";
}

body:has(.props-state-this) {
    @import "./pages/props-state-this/main.scss";
}

body:has(.birthday-countdown) {
    @import "./pages/birthday-countdown/main.scss";
}

body:has(.scheduling) {
    @import "./pages/scheduling/main.scss";
}