* {
    font-family: sans-serif;
}

.homepage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 100px;
}

body:has(.mad-libs) {
    @import "./pages/mad-libs/main.scss";
}
