.arrow {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $color-blue;
    transition: .2s ease-in-out;

    transform: rotateX(180deg);

    height: 0;
    width: 0;
    cursor: pointer;
}

.arrow-closed {
    transform: rotateX(0deg);
}