.clock {
    grid-row: 3/4;
    grid-column: 2/11;

    background: $color-gray-one;
    height: 80%;
    align-self: end;
    transform: skewX(-20deg);

    > * {
        transform: skewX(20deg);
    }
}