@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Encode+Sans+Condensed&display=swap');

$color-gray-4D: #4d4d4d;
$color-red-BA: #d70000;
$color-gray-D8: #d8d8d8;
$color-gray-E6: #e6e6e6;

$font-encode: "Encode Sans", sans-serif;
$font-encode-cond: 'Encode Sans Condensed', sans-serif;
